#HedaerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    
}

#leftSideWrappeer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#InstaLogo{
    height: 8vh;
    margin-left: 3vh;
}

#heartIcon{
    margin-right: 3vh;
    margin-left: 3vh;
}

#dropDownIcon{
    margin-left: 2vh;
}

.cursorPointer{
    cursor: pointer;
}