.profile_pic{
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
}

.left_side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_header{
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-left: 3vh;
    align-items: center;
    padding-bottom: 3vh;
}

.profile_name{
    padding-left: 3vh;
    font-size: 2.5vh;
    font-weight: bold;
}

.more_icon{
    padding-right: 3vh;
    height: 5vh;
}

.main_picture{
    width: 100%;
}

@media only screen and (min-width: 768px){
    .main_picture{
        width: 20%;   
    }
}

.bold{
    font-weight: bold;
}
.num_likes{
    display: flex;
    justify-content: left;
    padding-left: 3vh;
    padding-top: 2vh;
}

.caption{
    padding-left: 1.5vh;
}

.comments_wrapper{
    display: flex;
    justify-content: left;
    padding-left: 3vh;
    padding-top: 1vh;
}
.gray{
    color: gray;
}